.logo {
  display: block;
  margin: auto;
}

html {
  background: linear-gradient(to right, #57c1eb, #246fa8 100%);
}
.container {
  max-width: 955px;
  border-radius: 14px 14px 14px 14px;
  background-color: white;
  margin: auto;
  height: 60vh;
  margin-bottom: 23px;
  overflow-y: auto;
}
.message {
  background-color: rgb(99, 151, 223);
  width: 24%;
  padding: 10px;
  margin: 17px 2px;
  border: 2px solid black;
  border-radius: 14px 14px 0 14px;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
#send-container{
display: block;
margin:auto;
text-align: center;
max-width: 985px;
width:100%;
display:flex;
justify-content: center;
align-items: center;

}
#messageInp{

width:90.2%;
border:2px solid black;
border-radius: 6px;
height: 34px;
font-size: 22px;
font-family: monospace;

}

.btn{
margin: 0 5px;
cursor: pointer;
border: 2px solid black;
border-radius: 6px;
height: 40px;




}
h1{

margin-top: 12px;
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;


}
.set{

  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:  auto;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  

}